<% layout("/layouts/boiler") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Create a new Listing</h3>
   
    <!-- novalidate class="needs-validation" -->
    <form method="POST" action="/listings"  novalidate class="needs-validation"  >
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" id="title" placeholder="enter a cachy title" type="text" class="form-control" class="form-control" >
        
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
           <textarea name="listing[description]" id="description" placeholder="enter description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
         <input name="listing[image]" id="image" placeholder="enter image URL/LINK" type="text" class="form-control">
        </div>
         
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" id="price" placeholder="1200" type="number" class="form-control">
        </div>
        
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" id="country" placeholder="India" type="text" class="form-control">
        </div>
        </div>

        <div class="mb-3">
         <label for="location" class="form-label">Location</label>
         <input name="listing[location]" id="location" placeholder="nashik" type="text" class="form-control">
         </div>
        
        <button class="btn btn-dark add-btn">ADD</button>
    </form>
    </div>
    </div>
</body>
